[nagios]
states-file = /usr/local/nagios/var/status.dat
error-return-code = warning
# Change to 1 to enable
return-on-error = 0

[serverdensity]
account-domain = example.serverdensity.com
username = user
password = foo
api-key = bar
agents = foohost
         barhost
         bazhost

[foohost]
agent-key = 1234567890

[barhost]
agent-key = asdfghjkl

[bazhost]
agent-key = qwertyuiop

[logging]
filename = /usr/local/var/log/nagios/push-to-sd.log
level = ERROR
format = %(asctime)-15s %(message)s
